###
# Unity folders and files
###
/Zeldalike/[Aa]ssets/AssetStoreTools*
/Zeldalike/[Bb]uild/
/Zeldalike/[Ll]ibrary/
/Zeldalike/[Ll]ocal[Cc]ache/
/Zeldalike/[Oo]bj/
/Zeldalike/[Tt]emp/
/Zeldalike/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.meta
![Aa]ssets/**/*.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
.vscode
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db